<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772853306917-hilg3cffm0oskn73iv2vrq3rpsnk3u9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772853306917-hilg3cffm0oskn73iv2vrq3rpsnk3u9d</string>
	<key>API_KEY</key>
	<string>AIzaSyDzJQljXIARH5ucljMP8UZi1vG19e5kTjU</string>
	<key>GCM_SENDER_ID</key>
	<string>772853306917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grit</string>
	<key>PROJECT_ID</key>
	<string>ptutor-study</string>
	<key>STORAGE_BUCKET</key>
	<string>ptutor-study.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772853306917:ios:41b31a8565e73ccd</string>
	<key>DATABASE_URL</key>
	<string>https://ptutor-study.firebaseio.com</string>
</dict>
</plist>